*{
	margin: 0;
	padding: 0;
}

body{
	background: #d1d1d1;
	font-size: 20px;
}

.main{
	padding: 55px 50px 30px;
	background: #fff;
}

button{
	background: #d65c4a;
	border: none;
	width: 100%;
	padding: 10px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

.header{
	margin-bottom: -5px;
}

.follwrap{
	max-width: 800px;
	margin: 0 auto;
}

.gif{
	max-width: 100%;
	height: auto;
}

.text{
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: left;
}
.centered{
	text-align: center;
}


.BlockImgBig{
	padding-bottom: 25px;
	float: left;
	margin-right: 34px;
}

.BlockImgBig img{
	max-width: 316px;
	max-height: 266px;
}

.BlockImgBig p{
	max-width: 316px;
}

.BlockImgSmall{
	padding-bottom: 25px;
	float: left;
}

.BlockImgSmall img{
	max-width: 200px;
	max-height: 260px;
}

.BlockImgSmall p{
	max-width: 200px;
}


.clear{
	clear: both;
}

.footer{
	padding-top: 30px;
	padding-bottom: 25px;
	color: #fff;
	font-size: 16px;
}
.footer a{
	color: #fff;
}
.aaa{
	padding-left: 33px;
	margin: 0px;
}
.aa{
	padding-left: 50px;
	margin: 0px;
}